*{
    margin:0;
    padding:0;
}
.container{
    margin:auto;
    display: flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width:80%;

}
body{
    background-color: rgb(26, 180, 246);
}
.container h1{
    font-family:"Poppins", sans-serif;
    font-size: 3.5rem;
    font-weight:bold;
    color:rgb(26, 180, 246);
    padding:30px;
}

#gameboard{
    width: 300px;
    height:300px;
    background-color: black;
    display:flex;
    flex-wrap: wrap;
    border:1px solid black;


}
.square{
    width:100px;
    height:100px;
    background-color: rgba(11, 126, 227, 0.945);
    border:2px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
    justify-content: center;
    justify-content: center;
    
    
}
/*CIRCLE*/
.circle{
    height:80px;
    width:80px;
    border: 12px solid rgb(85, 224, 11);
    box-sizing: border-box;
    border-radius: 100%;
    text-align: center;
    
    

}
/*CROSS*/
.cross{
    height:90px;
    width:90px;
    /*border: 2px solid red;*/
    position: relative;
    transform:rotate(45deg);

}
.cross:before,.cross:after{
    content: "";
    position:absolute;
    background-color: red;
}
.cross:before{
    left:50%;
    width:30%;
    height:100%;
    margin-left:-15%;
}
.cross:after{
    top:50%;
    height:30%;
    width:100% ;
    margin-top:-15%;
}
#info{
    font-family:"Poppins", sans-serif;
    font-weight: bold;
    font-size:  2rem;
    padding:40px;


}
@media (max-width: 650px) {
    .container{
        width:70%;
    }
    .container h1{
        font-size: 2rem;
    }
    #gameboard{
        width: 270px;
        height:270px;

    }
    .square{
        width:90px;
        height:90px;
    }
    #info{
        font-size: 1.5rem;
}
}
.playA{
    padding:6px;
    border:none;
    outline:none;
    background-color: rgba(99, 175, 237, 0.962);
    color:white;
    font-family: "Poppins",sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 6px;
    margin-left:10px;
    margin-top:20px;
    transition: all 0.15s;
}
playA:hover{
    transform:scale(1.1);
    box-shadow:0 0 2px 0.2;
}




